body{
  font-family: Verdana,sans-serif;
  background-image: linear-gradient(0deg , #ff0000 20% , #000000 90%);
  background-attachment: fixed;
  color: #ffffff;
  box-sizing: border-box;
  font-size: 20px;
}

a{
  text-decoration: none;
  color: #1B96BD;
  font-weight: 500;
  transition-duration: 0.6s;
}

#container{
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction:column;
  justify-content: space-between;
}

.cabecalho{
  background-color: rgb(0,0,0,0.5);
  padding: 1.5em;
  font-size: 0.8em;
  display:flex;
  justify-content: center;
  align-items: center;
}

.cabecalho ul li{
  list-style: none;
  display: inline-block;
  padding: 0 0.18em 0 0.18em;
}

.cabecalho li a:hover{
  color: #FF0000;
}

main{
  margin: 0 auto;
}

.corpo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content:space-around;
}

.corpo figure{
  border:2px solid #000000;
  box-shadow: 2px 2px 5px #000000;
  padding: 5px 5px 150px 5px;
  margin-top: 0.5em;
  margin-bottom:0.5em;
  position: relative;
}

.corpo figcaption{
  position: absolute;
  font-size: 0.7em;
}

.corpo img{
  max-width: 100%;
}

.corpo .ryan{
  order: 1;
  flex-basis: 45vw;
  flex-shrink: 1;
  max-width: 210px;
}

.corpo .elenco{
  order: 3;
  flex-basis: 100vw;
  flex-shrink: 1;
  max-width: 420px;
}

.corpo .poster{
  order: 2;
  flex-basis: 45vw;
  flex-shrink: 1;
  max-width: 210px;
}

form label{
  display: block;
  font-size: 0.8em ;
  margin:0 0 0.2em 0 ;
}

.input-padrao{
  display: block;
  margin: 0 0 1em 0;
  padding: 0.3em;
  width: 90vw;
}

.checkbox{
  font-size: 0.6em;
  margin: 0 0 1em 0;
}

.enviar{
  width: 90vw;
  padding: 0.4em 0;
  font-weight: bold;
  font-size: 0.8em;
  border-radius: 5px;
  cursor: pointer;
}

.enviar:active{
  color:white;
  background-color:black;
}

.grupo{
  padding-left: 1em;
  padding-right: 1em;
  max-width: 850px;
}
.corpo-sobre .sobre-nos hgroup{
  font-size: 1em;
  padding-bottom: 1em;
}
.corpo-sobre .sobre-nos p{
  font-size: 0.6em;
  padding-bottom: 2em;
  text-align: justify;
  text-indent: 2em;
}
.corpo-sobre .sobre-nos span{
  font-weight: bold;
}

iframe{
  padding-left: 1em;
  width: 90vw;
  height: 40vh;
  max-width: 800px;
}
.integrantes{
  padding-bottom: 1em;
}
.integrantes li {
  font-size: 0.6em;
}
.integrantes li a{
  text-decoration: none;
  color: #cccccc;
}
.integrantes li a:hover{
  color: #ff0000;
}


form label, .input-padrao, .enviar{
  max-width: 450px;
}

footer{
  padding: 2em;
  background-color: rgb(0,0,0,0.5);
  font-size: 0.4em;
  text-align: center;
}

span{
  font-weight: 600;
}

.dead{
  height: 30vh;
  width: 90vw;
  margin: auto;
  max-width: 900px;
}
.deadpool{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.descricao p{
  font-size: 0.7em;
  text-align: justify;
  margin: 1em 1em 1em 1em;
}

@media (min-width: 400px){
  body{
    font-size: 23px;
  }
  .cabecalho ul li{
    padding: 0 0.3em 0 0.3em;
  }
  .cabecalho{
    font-size: 0.8em;
  }
}

@media (min-width: 480px){
  body{
    font-size:25px;
  }

  .cabecalho ul li{
    padding: 0 0.5em 0 0.5em;
  }
  .cabecalho{
    font-size: 0.8em;
  }
  .dead{
    height: 35vh;
  }

}
@media (min-width: 650px){
  .dead{
    height: 40vh;
  }
}

@media (min-width: 882px){
  main{
    margin: 0;
  }

  .cabecalho ul li{
    padding: 0 0.9em 0 0.9em;
  }
  .cabecalho{
    font-size: 1.2em;
  }
  .corpo .ryan{
    order: 1;
  }

  .corpo .elenco{
    order: 2;
  }

  .corpo .poster{
    order: 3;
  }

  form label, .input-padrao, .checkbox,.enviar{
    margin-left: 3rem;
  }

  footer{
    font-size: 0.6em;
  }
  .corpo-sobre{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
    .dead{
    height: 60vh;
    }
}
